body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.newsletter-container {
    background-color: #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    align-items: center;
}

label {
    font-size: 14px;
    font-weight: bold;
    margin-right: 10px;
}

input[type="email"] {
    padding: 5px;
    border: 1px solid #999;
    border-radius: 3px;
    margin-right: 10px;
}

button {
    padding: 5px 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}
